.flexbox_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Empty_Space1 {
    flex-grow: 1;
    height: 90px;
    padding: 0px;
}

.Logo_Space {
    flex-basis: 8vw;
    height: 90px;
    text-align: center;
    padding: 0px;
}

.Logo_Space img {
    max-width: 100%;
    height: 90%;
}







.flexbox_Header {
    display: flex;
    flex-direction: row;
    height: 35px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 -5px 5px rgba(0, 0, 0, 0.2);
    background-color: cadetblue;
    justify-content: center;
    align-items: center;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list li {
    display: inline;
    margin-right: 40px;
}

.Menuoption {
    padding:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    font-size:16px
}

.Empty_Space2 {
    flex-grow: 7;
    background-color: cadetblue;
    padding: 5px;
}

.Menuoption:hover {
    background-color: darkcyan;
}

.Searchbar {
    flex-grow: 1;
    display: flex; 
    justify-content: flex-end; 
    margin-right: 5px;
    align-items: center;
    background-color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 16px;
}

.Searchbar input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 5px;
    outline-color: darkorange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Searchbar button {
    color: white;
    background-color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
}

.Searchbar button:hover {
    background-color: darkcyan;
}