.bannerimage {
    position: relative;
    background-image: url(../Images/Thailand-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100vw;
    margin-top: 5px;
    margin-bottom: 5px;
}

.h1-ontopofimage {
    position: absolute;
    top: 60px;
    left: 20vw;
    width: 300;
    text-align: left;
    font-size: 80px;
    -webkit-text-stroke: 1px #000;
    padding: 0px;
}

.flexbox-Thailand {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    width: 100vw;
    background-color: gainsboro;
    padding-top: 40px;
}

.Maincontent {
    display: flex;
    flex-direction: column;
    flex-basis: 220px;
    width: 100vw;
    text-align: center;
    align-items: center;
    background-color: gainsboro;
    color: black;
    margin-top: 0px;
}

.Thailand-introduction {
    color: black;
    padding-left: 150px;
    padding-right: 150px;
}

.Browse-Thailand {
    display: flex;
    width: 80vw;
    height: 600px;
}

table {
    width: 80vw;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 -5px 5px rgba(0, 0, 0, 0.2);
    border-color: rgb(60, 58, 58);
    border-spacing: 10px;
}

.table-image-container {
    width: 300px;
    height: 200px;
    border-width: 3px;
    border-color: rgb(60, 58, 58);
}

.imageintable {
    width: 300px;
    height: 200px;
}

.table-text-container {
    border-width: 3px;
    border-color: rgb(60, 58, 58);
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

.h3-in-table {
    color: cadetblue;
    text-align: left;
}

.h3-in-table:hover {
    color: gainsboro;
}

.p-in-table {
    color: black;
    padding-bottom: 10px;
}

.Table-Date {
    color: black;
    font-size: small;
}

